<!DOCTYPE html>
<html>

    <head>
        <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">

        <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
        <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
        <title>{{slug}}</title>
    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Blue team</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right">
                        
                        <div class="form-group">
                            <input type="text" placeholder="Insert ID" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Enter</button>
                    </form>
                </div><!--/.navbar-collapse -->
            </div>
        </nav>
        <div class="jumbotron">
            <div class="container" style="
                 text-align: center;">

                <h1>Container controller</h1>
                <p>Obtaining information about your shipment is now easier using Container Controller. </p>
                <img style="align: inherit;" src="http://www.fondear.org/infonautic/barco/Motores_Helices/Flaps/Mercante.jpg" border="0">

            </div>
        </div> 

        <div class="neighborhood-guides">
            <div class="container">
                <h2>List of IDs</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <a href="#">Container 1</a>

                        </div>
                        <div class="row">
                            <a href="#">Container 2</a>

                        </div> <div class="row">
                            <a href="#">Container 3</a>

                        </div> <div class="row">
                            <a href="#">Container 4</a>

                        </div> <div class="row">
                            <a href="#">Container 5</a>

                        </div> <div class="row">
                            <a href="#">Container 6</a>

                        </div> <div class="row">
                            <a href="#">Container 7</a>

                        </div>




                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <form role="form">
                                <div class="form-group">
                                    <label for="email">Email address:</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Password:</label>
                                    <input type="password" class="form-control" id="pwd">
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox"> Remember me</label>
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>

                        </div>
                    </div>

                </div>



        <hr>

        <footer>
            <p>       &copy; Company 2015 BlueTeam</p>
        </footer>

    </body>

</html>
